.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    > h1 {
        letter-spacing: 2px;
    }
}

.home_options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 4em 0 2em 0;
    > a {
        background-color: #1affc6;
        padding: 0.5em;
        border-radius: 15px;
        
        font-size: 1em;
        color: black;
        text-decoration: none;
        
    }
    > a:hover {
        background-color: #008060;
    }
}